p{
  color: #050507;
  font-family: "DejaVu Sans", cursive;
  font-size: medium;
  border: lightcoral;
}
body{
  background-image: url(https://media.istockphoto.com/id/531253600/photo/sunrise.jpg?s=612x612&w=0&k=20&c=gdlZaKWcTjW1hmTRN8veqYIV25O4OfN4MhNx2H5Rgnk=);
}
button{
  alignment: right;
  padding-left: 10px;
  color: black;
  background-color: #dc14a3;
}
table{
width: 100%;
  border-collapse: collapse;
  }
  th,td{
    border: 3px solid red;
    font-family: "DejaVu Sans", cursive;
    text-align: center;
    padding: 5px;

  }
tr:nth-child(even){
  background-color: aliceblue;
}
